/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border-radius: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

html, body, header, main, .main__difficulty, .main__board {
  height: 100%;
}

body {
  background: #0f0e17;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

header .header__title {
  font-family: "Nunito", sans-serif;
  font-size: 64px;
  font-weight: 800;
  color: #e2e2e2;
  letter-spacing: 0.3rem;
}

header .header__logo {
  height: 120px;
  -webkit-animation: logo-flip 1s ease-in-out 1s;
          animation: logo-flip 1s ease-in-out 1s;
}

main {
  position: relative;
}

main .main__difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  position: relative;
}

main .main__difficulty .difficulty__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% - 100px));
          transform: translate(-50%, calc(-50% - 100px));
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

main .main__difficulty .difficulty__button {
  background: center/cover no-repeat url("../../src/icons/star-empty.svg");
  color: transparent;
  width: 100px;
  height: 100px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

main .main__difficulty .difficulty__button.selected {
  background: center/cover no-repeat url("../../src/icons/star-fill.svg");
}

main .main__difficulty .difficulty__button:nth-of-type(1) {
  -webkit-transform: rotate(-20deg) scale(0.8) translate(30px, 50px);
          transform: rotate(-20deg) scale(0.8) translate(30px, 50px);
}

main .main__difficulty .difficulty__button:nth-of-type(3) {
  -webkit-transform: rotate(20deg) scale(0.8) translate(-30px, 50px);
          transform: rotate(20deg) scale(0.8) translate(-30px, 50px);
}

main .main__difficulty .difficulty__button:hover {
  background: center/cover no-repeat url("../../src/icons/star-fill.svg");
}

main .main__timer {
  position: absolute;
  background: #e2e2e2;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #0f0e17;
  padding: 15px 25px;
  letter-spacing: 0.5rem;
  padding-right: calc(25px - 0.5rem);
}

main .main__toast {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

main .main__toast .toast__message {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 25px;
}

main .main__toast .toast__stat {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

main .main__board {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -ms-grid-columns: (100px)[4];
      grid-template-columns: repeat(4, 100px);
}

main .main__board .board__card {
  background: #dcebff;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  -webkit-animation: reverse-card-flip 0.4s ease-in-out;
          animation: reverse-card-flip 0.4s ease-in-out;
}

main .main__board .board__card .card__img {
  opacity: 0;
  width: 60px;
  pointer-events: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .main__board .board__card.selected {
  -webkit-animation: card-flip 0.4s ease-in-out;
          animation: card-flip 0.4s ease-in-out;
}

main .main__board .board__card.selected .card__img {
  opacity: 1;
}

main .main__board .board__card.match {
  -webkit-animation: match-found 0.4s ease-in-out;
          animation: match-found 0.4s ease-in-out;
}

main .main__board .board__card.match .card__img {
  opacity: 1;
}

main .main__board.winner .board__card {
  -webkit-animation: card-dance 1s infinite linear 1s;
          animation: card-dance 1s infinite linear 1s;
}

main .main__again {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #dcebff;
  color: #0f0e17;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 15px 25px;
  letter-spacing: 0.2rem;
  padding-right: calc(25px - 0.2rem);
}

@-webkit-keyframes logo-flip {
  0%, 100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
  }
}

@keyframes logo-flip {
  0%, 100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 180deg);
            transform: rotate3d(1, 1, 0, 180deg);
  }
}

@-webkit-keyframes card-flip {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 90deg);
            transform: rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
}

@keyframes card-flip {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, 90deg);
            transform: rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
}

@-webkit-keyframes reverse-card-flip {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -90deg);
            transform: rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
}

@keyframes reverse-card-flip {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -90deg);
            transform: rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
}

@-webkit-keyframes match-found {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes match-found {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes card-dance {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes card-dance {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}
/*# sourceMappingURL=style.css.map */